* {
	margin: 0;
	padding: 0;
}
body {
	color: #333;
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}
div {
	display: block;
}

/*#########初始化##########*/


/*###########模版############*/


.qq-nav{
    height: 150px;
    background: url("../images/nav_bg.png") repeat-x;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/*.qq-nav .top {
	height: 75px;
   width: 1080px;
	margin: 0 auto;
}*/

.qq-nav .top{
    width: 1080px;
    height: 75px;
    position: relative;
    margin: 0 auto;
}

.qq-nav .top img {
	margin-top: 10px;
	float: left;
}

.qq-nav .top ul {
	float: left;

}

.qq-nav .top ul li {
	float: left;
	margin-left: 20px;
	line-height: 75px;
}
.qq-nav .top ul li a {
	display: block;
	font-size: 18px;
	padding: 0 20px;
}

.qq-nav .top ul li a:hover {
	background-color: #12b7f5;
}

.active {
	background-color: #12b7f5;
}

.qq-nav .top .right {
	width: 400px;
	height: 75px;
	float: right;
	position: absolute;
    right: 0;
    padding-top: 12px;
    font-size: 14px;
}

.qq-nav .top .right a {
	float: right;
	margin-left: 40px;
	text-shadow: 0 0 2px #333;

}

.qq-nav .top .right span {
	display: inline-block;
	width: 96px;
	height: 36px;
	border-radius: 18px;
	background: #12b7f5;
	float: right;
	text-align: center;
	margin-top: 10px;
	line-height: 36px;
	color: #fff;
}

.qq-nav .top .right i {
	font-style: normal;
	position: absolute;
	top: 50px;
	right: 0;
}


 /*展示*/


 .qq-banner {
 	height: 880px;
    padding-top: 150px;
 	background: url(../images/banner-bg.jpg) no-repeat center top;
 }

 .qq-banner img{
    display: block;
    margin: 20px auto 0;
}
.qq-banner img:last-child {
	width: 100%;
}


/*语音*/


.qq-sound .bg {
	height: 500px;
	background: url(../images/sound-bg.jpg) no-repeat center / cover ;
}
.qq-sound .phone {
	height: 500px;
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.qq-sound .phone .hand {
	width: 700px;
	height: 700px;
	background: url(../images/sound-phone.png)no-repeat  top / cover;
    position: absolute;
    left: 0px;
    top: -200px;
}

.qq-sound .phone h2 {
	width: 400px;
	position: absolute;
	right: 50px;
	text-align: right;
	font-size: 40px;
	padding-top: 100px;

}

.qq-sound .phone p {
	position: absolute;
	right: 50px;
	text-align: right;
	padding-top: 260px;
	font-size: 18px;
	text-shadow: 0 0 2px #333;
}

/*沟通*/

.qq-say .bg {
	height: 500px;
	background: url(../images/file-bg.jpg) no-repeat center / cover ;
}

.qq-say .say {
	height: 500px;
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.qq-say .say .comput {
	width: 600px;
	height: 340px;
	background: url(../images/file-mac.png) no-repeat ;
	position: absolute;
    right: -60px;
    top: 100px;
}
.qq-say .say h2 {
	float: left;
	padding-top: 100px;
    width: 500px;
    text-align: left;
    font-size: 40px;
}

.qq-say .say p {
	float: left;
	padding-top: 70px;
    width: 500px;
    text-align: left;
    font-size: 18px;
    text-shadow: 0 0 2px #333;
}


/*兴趣*/

.qq-funny .bg {
	height: 500px;
	background: url(../images/interest-bg.jpg) no-repeat center / cover ;
}

.qq-funny .funny {
	width: 980px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.qq-funny .funny .tel {
	width: 350px;
	height: 500px;
	background: url(../images/interest-phone.png) no-repeat;
     float: left;
     left: 0;
}

.qq-funny .funny h2 {
	width: 500px;
	float: right;
	font-size: 40px;
	text-align: right;
	padding-top: 100px;
}

.qq-funny .funny p {
	width: 500px;
	float: right;
	font-size: 18px;
	text-align: right;
	padding-top: 60px;
	text-shadow: 0 0 2px #333;
}

/*底部*/

.qq_footer{
    height: 250px;
    background: #2a2a2a;
    font-size: 12px;
    text-align: center;
    padding-top: 50px;
    color: #666;
}
.plats{
    width: 800px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
.plats a {
    float: left;
    background: transparent url(../images/footer.png) no-repeat 10px 0;
    text-align: center;
    font-size: 12px;
    color: #666;
    padding-top: 50px;
    width: 80px;
    margin: 0 60px;
}
.plats a:hover {
    color: #12b7f5;
}
.plats a.plmb {
    background-position: 0 0;
}
.plats a.plmb:hover {
    background-position: 0 -93px;
}
.plats a.plpc {
    background-position: -105px 0;
}
.plats a.plpc:hover {
    background-position: -105px -93px;
}
.plats a.plmac {
    background-position: -210px 0;
}
.plats a.plmac:hover {
    background-position: -210px -93px;
}
.plats a.plpad {
    background-position: -326px 0;
}
.plats a.plpad:hover {
    background-position: -326px -93px;
}

.qq-sound .bg,.qq-funny .bg,.qq-say .bg{
    background-attachment: fixed;
}
